<div class="container">
  <div class="footer-primary">
    <a class="footer-logo" href="https://okfn.org/">
      <img src="INSERT_PROJECT_LEAD_ORG_LOGO_URL" alt="INSERT_PROJECT_LEAD_ORG_NAME">
    </a>
    <div class="supporters">
      <h6>{{ bag('global_content').with_support_from }}</h6>
      {% for s, a in bag('supporters').iteritems() %}
      <a{% for i, v in a.iteritems() %}{% if i == 'url' %} href="{{ v }}" rel="external"{% endif %}{% endfor %}>
        <img
          src="{{ '/img/supporters/'|url }}{% for i, v in a.iteritems() %}{% if i == 'logo' %}{{ v }}{% endif %}{% endfor %}"
          alt="{% for i, v in a.iteritems() %}{% if i == 'name' %}{{ v }}{% endif %}{% endfor %}"
          {% for i, v in a.iteritems() %}
            {% if i == 'logo_width_multiplier' %}
              width="{{ (v | float * 26) | round | int }}"
            {% endif %}
          {% endfor %}
          height="26" />
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="footer-secondary">
  <p>
    <a href="INSERT_TERMS_OF_USE_URL">Terms of use</a> | <a href="INSERT_PRIVACY_POLICY_URL">Privacy policy</a>
  </p>
  <ul class="footer-links">
    <li><a href="INSERT_PROJECT_DONATION_LINK"><svg><use xlink:href="#icon-heart" /></svg> <span class="text">Support</span></a></li>
    <li><a href="https://discuss.okfn.org/c/frictionless-data" rel="external"><svg><use xlink:href="#icon-forum" /></svg> <span class="text">Forum</span></a></li>
    <li><a href="https://gitter.im/INSERT_PROJECT_GITTER_NAME/chat" rel="external"><svg><use xlink:href="#icon-gitter" /></svg> <span class="text">Chat</span></a></li>
    <li><a href="https://github.com/INSERT_PROJECT_GITHUB_ORG" rel="external"><svg><use xlink:href="#icon-github" /></svg> <span class="text">GitHub</span></a></li>
  </ul>
  </div>
</div>
